# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Dataset files
data/*.npz
data/*.zip
data/*.gz

# VS Code
.vscode/

# IntelliJ / PyCharm
.idea/

# Test cache
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Operating system
.DS_Store
Thumbs.db

# Gradio cache
gradio_cached_examples/
1_MLP_from_scratch/data/
